<div class="sign-in">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(@user, url: "/users/", html: { method: :put, autocomplete: 'off' }) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, required: true, autofocus: true, value: params[:email], :class => "string email required form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <br>
      <%= f.password_field :password, autocomplete: "off", required: true, :class => "password required form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation, required: true, :class => "password required form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :admin, "Admin?" %>
      <br>
      <%= f.check_box :admin, {}, true, nil %>
    </div>
    <div class="form-actions">
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit "Update", :class => 'btn btn-default' %>
    </div>
  <% end %>
</div>

