.ml-20
  %h4
    Add new truck
  %br
  = form_for(@truck, url: trucks_path) do |f|
    .form-group
      = f.label(:plate)
      = f.text_field(:plate, value: params[:plate], :autocomplete => :off)
    .form-group
      = f.label(:company_name)
      = f.autocomplete_field :company_name, autocomplete_company_name_trucks_path, :id_element => '#company_id'
    .form-group
      = f.label(:number)
      = f.text_field(:number, value: @truck.number, :autocomplete => :off)
    .form-group
      = f.hidden_field(:company_id, {id: 'company_id'})
      = f.hidden_field(:daily_report_id, value: params[:daily_report_id])
      = f.hidden_field(:facility_name, value: params[:facility_name])
      = f.hidden_field(:cell, value: params[:cell])
      = f.hidden_field(:manifest_number, value: params[:manifest_number])
      = f.hidden_field(:comment, value: params[:comment])
      = f.hidden_field(:final_load, value: params[:final_load])
      = f.submit "Submit", :class => "btn btn-primary"

