<h3><%= @truck.plate %> | <%= link_to "Edit Truck", edit_truck_path(@truck) %> </h3>

<%= %>

<%= form_for @manifest_report, url: user_manifest_reports_path(@user) do |f| %>
  <p>
    <%= f.label(:project_name, "Project Name") %>
    <%= f.autocomplete_field :project_name, autocomplete_project_name_manifest_reports_path, :id_element => '#project_id'%>
  </p>
  <p>
    <%= f.label(:date) %>
    <%= f.date_select(:date, { default: Date.today }, { class: "datetime-select" }) %>
  </p>
  <p>
    <%= f.label(:time_in) %>
    <%= f.time_select(:time_in, { default: Time.now }, { ampm: true, :ignore_date => true, class: "datetime-select" }) %>
  </p>
  <p>
    <%= f.label(:time_out) %>
    <%= f.time_select(:time_out, { default: Time.now + 8.minutes }, { ampm: true, :ignore_date => true, class: "datetime-select" }) %>
  </p>  
  <p>
    <%= f.label(:manifest_number) %>
    <% manifest_number =  ManifestReport.all.size == 0 ? 1 : (ManifestReport.last.manifest_number + 1)%>
    <%= f.text_field(:manifest_number, value: manifest_number )%>
  </p>
  <p>
    <%= f.label(:cell) %>
    <%= f.text_field(:cell)%>
  </p>
  <p>
    <%= f.label(:facility_name) %>
    <%= f.autocomplete_field :facility_name, autocomplete_facility_name_manifest_reports_path, :id_element => '#facility_id'%>
  </p>

  <%= f.hidden_field(:facility_id, {id: 'facility_id'}) %>
  <%= f.hidden_field(:project_id, {id: 'project_id'}) %>
  <%= f.hidden_field(:truck_number, value: @truck.number)%>
  <%= f.hidden_field(:plate, value: @truck.plate)%>
  <%= f.hidden_field(:company, value: @truck.company.name)%>
  <%= f.hidden_field :truck_id, :value => @truck.id %>
  
  <%= f.submit 'Create Report', :class => 'btn btn-cta btn-cta-tertiary' %>
<% end %>
