<h3><%= @truck.plate %></h3>

<%= form_for @manifest_report, url: user_manifest_reports_path(@user) do |f| %>
    <%= f.label(:date) %>
    <%= f.date_select(:date, default: Date.today) %>
  <p>
    <%= f.label(:time_in) %>
    <%= f.time_select(:time_in, default: Time.now, ampm: true, :ignore_date => true) %>
  </p>
  <p>
    <%= f.label(:time_out) %>
    <%= f.time_select(:time_out, default: Time.now + 5.minutes, ampm: true, :ignore_date => true) %>
  </p>  
  <p>
    <%= f.label(:manifest_number) %>
    <% manifest_number =  ManifestReport.all.size == 0 ? 1 : (ManifestReport.last.manifest_number + 1)%>
    <%= f.text_field(:manifest_number, value: manifest_number )%>
  </p>
  <p>
    <%= f.label(:plate, "Plate Number") %>
    <%= f.text_field(:plate, value: @truck.plate)%>
  </p>
  <p>
    <%= f.label(:cell) %>
    <%= f.text_field(:cell)%>
  </p>
  <p>
    <%= f.label(:company, "Hauler Name") %>
    <%= f.text_field(:company, value: @truck.company.name)%>
  </p>
  <p>
    <%= f.label(:truck_number) %>
    <%= f.text_field(:truck_number, value: @truck.number)%>
  </p>
  <p>
    <%= f.label(:destination) %>
    <%= f.text_field(:destination)%>
  </p>
  <%= f.hidden_field :truck_id, :value => @truck.id %>
  <%= f.submit 'Create Report', :class => 'btn btn-cta btn-cta-tertiary' %>
<% end %>
