<%= form_tag searches_path, :method => 'get' do %>
  <%= autocomplete_field_tag :search, params[:search], autocomplete_truck_plate_manifest_reports_path, 
  {class: "search-query", placeholder: "JHG876", type: "search"} %> 
  <%#= text_field_tag :search, params[:search], :id => 'search_field' %>
  <%= submit_tag "Create Report", :name => nil, :class => "search-me", :style => "display: none;" %> 
<% end %> 

<script>
  $('input').typeahead({
    name: 'people',
    local: ['Elaine', 'Column', 'Kirsty', 'Chris Elder']
  });
</script>


<h1>Reports</h1>
<table>
  <tr>
    <th>Project Name</th>
    <th>Date</th>
    <th>Time In</th>
    <th>Time Out</th>
    <th>Manifest Number</th>
    <th>Plate Number</th>
    <th>Cell</th>
    <th>Hauler Name</th>
    <th>Truck Number</th>
    <th>Destination</th>
  </tr> 
  <% @manifest_reports.each do |report| %>
    <tr>
      <td><%= report.project_name %></td>
      <td><%= report.date %></td>
      <td><%= report.time_in.strftime("%I:%M%p") %></td>
      <td><%= report.time_out.strftime("%I:%M%p") %></td>
      <td><%= report.manifest_number %></td>
      <td><%= report.plate %></td>
      <td><%= report.cell %></td>
      <td><%= report.company %></td>
      <td><%= report.truck_number %></td>
      <td><%= report.destination %><td>
      <%= link_to "Edit", edit_user_manifest_report_path(report.user, report) %>
    </tr>
  <% end %>
</table>




<script type="text/javascript">

$( document ).ready(function() { 
  $('.search-query').bind('railsAutocomplete.select', function(event, data){
  $('.search-me').trigger('click');
  });
});


</script>
