- if current_user
  .ml-20
    %h3
      = "Create Load ##{@daily_report.manifest_reports.count + 1}"
    %br
    .ui-front
      = form_for(ManifestReport.new, url: user_daily_report_manifest_reports_path(current_user, @daily_report), :html => {class: "manifest-form"}) do |f|
        .form-group
          = f.label(:time_in)
          = f.time_select(:time_in, { default: Time.now, ampm: true, :ignore_date => true, class: "datetime-select" })
        .form-group
          = f.label(:time_out)
          = f.time_select(:time_out, { default: Time.now, ampm: true, :ignore_date => true, class: "datetime-select" })
        .form-group
          = f.label(:manifest_number)
          - manifest_number =  @daily_report.manifest_reports.size == 0 ? "" : (@daily_report.manifest_reports.last.manifest_number + 1)
          = f.text_field(:manifest_number, value: params[:manifest_number] || manifest_number, :autocomplete => :off)
        .form-group
          = f.label(:plate)
          = f.autocomplete_field :plate, autocomplete_truck_plate_manifest_reports_path, value: params[:plate], :id_element => '#truck_id', class: "plate-field", :append_to => ".plate-field"
        .form-group
          = f.label(:cell)
          = f.text_field(:cell, value: params[:cell], :autocomplete => :off)
        .form-group
          = f.label(:facility_name)
          = f.autocomplete_field :facility_name, autocomplete_facility_name_manifest_reports_path, value: params[:facility_name] || @last_facility, :id_element => '#facility_id'
        .form-group
          = f.label(:comment)
          = f.text_area :comment, value: params[:comment]
        .form-group
          = f.hidden_field(:facility_id, {id: 'facility_id'})
          = f.hidden_field :truck_id, {id: 'truck_id'}
          = f.submit "Submit", :class => "btn btn-primary report-submit"
